root = true

[*.cs]

### StyleCop configuration to prevent clashes
dotnet_diagnostic.SA1600.severity = none # document code
dotnet_diagnostic.SA1633.severity = none # file header
dotnet_diagnostic.SA1200.severity = none # usings inside namespace

dotnet_diagnostic.CA1031.severity = error
dotnet_diagnostic.SA1402.severity = error